body{
    background-color:rgb(239, 222, 136);
}

}
p{
    background: #d8ca05;
}
ul{
    background: #d8e489;
}

h1{
    background: #d09d51;
}
u{
    background: rgb(149, 149, 220);
}
i{
    background: rgba(164, 226, 226, 0);
}
em{
    background: #4067;
}
li{
    background: #ccac42;
}